*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 150%;
  color: #656566;
  background-color: #f5f5f5;
}

.title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-block: 0;
  padding-inline: 10px;
}
.title h2, .title h3 {
  flex: 1;
  margin: 0;
}
.title h2 {
  position: fixed;
  top: 10px;
  left: 10px;
}
.title h3 {
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: right;
}

@media (width <= 600px) {
  .title {
    flex-direction: column;
  }
  .title h3 {
    align-self: flex-end;
  }
}
.img {
  margin-top: 20px;
}

.container-body {
  max-width: 60rem;
  padding-inline: 24px;
  padding-bottom: 0;
  margin-inline: auto;
  margin-top: 100px;
  text-align: center;
  background-color: #dbdde0;
}
.container-body p {
  margin-inline: 50px;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: small;
  font-weight: 600;
}
.container-body h3 {
  margin-top: 40px;
}
.container-body img {
  margin-top: 0;
  margin-bottom: 0;
}

.date {
  margin-top: 80px;
  margin-bottom: 0;
  font-size: small;
  font-weight: bold;
  text-align: center;
}
.date p {
  margin-bottom: 0;
}