*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 150%;
  color: #656566;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.animated-title {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.animated-text {
  display: inline-block;
  padding-left: 100%;
  animation: scrolltext 10s linear infinite;
}

@keyframes scrolltext {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.container {
  max-width: 100%;
  padding-inline: 1.5rem;
  margin-inline: auto;
  text-align: center;
}

.header {
  display: flex;
  padding-block: 5px;
  padding-inline: 0;
  margin-inline: 0;
  margin-bottom: 40px;
  font-size: medium;
  background-color: #dbdde0;
}

.container p {
  display: flex;
  margin-inline: 10px;
  margin-bottom: 0;
  color: #656566;
}

.container p a:link {
  color: #656566;
}

.container p a:visited {
  color: #656566;
}

.container p a:hover {
  color: #dbdde0;
  transition: all 200ms ease-out;
  animation-duration: 5s;
}

.main-archive {
  max-width: 100%;
  padding: 30px;
  padding-inline: 50px;
  margin: auto;
}

.slider {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 70px;
  padding: 10px;
  background-color: #dbdde0;
  border-radius: 10px;
}

.card {
  padding: 0;
  padding-inline: 20px;
  margin-block: auto;
  margin-inline: auto;
}

.card h5 {
  margin: 0;
  text-align: left;
}

.card p {
  font-size: x-small;
  font-weight: bold;
  text-align: left;
}

.card figure {
  position: relative;
  margin: 20px 0;
  overflow: hidden;
}

.card img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.119);
}

.card:hover {
  transition: all 200ms ease-out;
  transform: scale(1.05);
}

.profile {
  padding: 10px;
  background-color: #dbdde0;
  border-radius: 10px;
}

.text-b {
  text-align: center;
}

.container-p {
  padding-inline: 0;
  margin-top: 100px;
  font-size: medium;
  font-weight: bold;
  color: #656566;
  text-align: left;
  background-color: #dbdde0;
}

.profile-tool {
  text-align: right;
}

.container-b {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding-inline: 0;
  margin-inline: 0;
  font-size: small;
  font-weight: bold;
  text-align: center;
  background-color: #fafaf5;
}

.container-b p {
  padding-inline: 0;
  margin-inline: 0;
  color: #d1d1d1;
  text-align: left;
}

.container-b .nth-2 {
  margin-top: 10px;
}

.container-b .nth-3 {
  margin-top: 10px;
}